.link{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Oranienbaum";
    font-style: normal;
    font-weight: 400;
    font-size: 30.6068px;
    line-height: 2em;
    color: black;
    width: 10em;
    height: 4em;
    background: white;
    border: none;
    text-decoration: none;
}

.active {
    background-color: #000000;
    color: #ffffff;
    border-radius: 14px;
  }